<section id="homepage-intro">
  <div class="background_image_module" style="background: url('<%= asset_path('homepage/intro/bg.jpg') %>') no-repeat center center; background-size: cover; height: 100% ">
    <div class="module-content center-center white">
      <div class="module-text">
        <%= image_tag "homepage/intro/logo.png", style: "display: inline-block;" %>
      </div>
    </div>
  </div>
</section>