<div class="email_capture_modal" id="email_capture_modal_712"><script>
  var google_analytics_event_label = 'index_modal';
</script>
<div class="modal-wrapper spring2015">
  <div class="modal-overlay in"></div>
  <div class="modal-container bg-color purple in">
    <div class="overlay"></div>
    <div class="modal-container-inner">
      <a class="modal-dismiss" href="#">Close</a>
      <h3><p>Tracksmith:<br>Now Co-Ed</p></h3>
      <h4><p class="p1"><span class="s1">Subscribe to find out first about upcoming launches and other surprises</span></p></h4>
      <form accept-charset="UTF-8" action="/mailchimp/subscribe" class="email-form" data-remote="true" id="email-capture-modal" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
            <input class="email-input" id="email" name="email[address]" placeholder="Enter Your Email" type="email">
            <input class="btn-primary" name="commit" type="submit" value="Sign Up">
      </form>
      <div id="response"></div>
    </div>
  </div>
</div>
</div>
