/*

 */
/* line 50, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/_extends.scss */
#alchemy_menubar ul li a, #alchemy_menubar ul li button {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF2F2F2', endColorstr='#FFBFBFBF');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #d8d8d8));
  background: -webkit-linear-gradient(#f2f2f2, #d8d8d8);
  background: -moz-linear-gradient(#f2f2f2, #d8d8d8);
  background: -o-linear-gradient(#f2f2f2, #d8d8d8);
  background: linear-gradient(#f2f2f2, #d8d8d8);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #cccccc;
  color: #333333;
  text-shadow: white 0 1px 0;
  border-color: #9a9a9a;
  margin: 4px 0;
}
/* line 15, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#alchemy_menubar ul li a:hover, #alchemy_menubar ul li button:hover {
  text-decoration: none;
}
/* line 36, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#alchemy_menubar ul li a:hover, #alchemy_menubar ul li button:hover {
  background-color: #cccccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#e5e5e5, #cccccc);
  background: -moz-linear-gradient(#e5e5e5, #cccccc);
  background: -o-linear-gradient(#e5e5e5, #cccccc);
  background: linear-gradient(#e5e5e5, #cccccc);
}
/* line 39, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#alchemy_menubar ul li a:active, #alchemy_menubar ul li button:active {
  -webkit-box-shadow: #c4c4c4 0 1px 2px inset;
  -moz-box-shadow: #c4c4c4 0 1px 2px inset;
  box-shadow: #c4c4c4 0 1px 2px inset;
}
/* line 6, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#alchemy_menubar ul li a.disabled, #alchemy_menubar ul li button.disabled, #alchemy_menubar ul li a[disabled], #alchemy_menubar ul li button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #d8d8d8;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
#alchemy_menubar ul li a::-moz-focus-inner, #alchemy_menubar ul li button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 12, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/menubar.css.scss */
#alchemy_menubar {
  position: fixed;
  top: 0;
  left: -356px;
  width: 400px;
  z-index: 10000;
  background: #ededed;
  -webkit-transition: left 0.15s ease-in-out;
  -moz-transition: left 0.15s ease-in-out;
  -ms-transition: left 0.15s ease-in-out;
  -o-transition: left 0.15s ease-in-out;
  transition: left 0.15s ease-in-out;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottom-right: 3px;
  -ms-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px #666666;
  -moz-box-shadow: 0px 0px 4px #666666;
  -ms-box-shadow: 0px 0px 4px #666666;
  -o-box-shadow: 0px 0px 4px #666666;
  box-shadow: 0px 0px 4px #666666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  height: 44px;
  padding: 4px 40px 4px 8px;
  overflow: hidden;
  font: 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}
/* line 30, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/menubar.css.scss */
#alchemy_menubar * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* line 36, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/menubar.css.scss */
#alchemy_menubar:hover {
  left: 0;
}
/* line 40, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/menubar.css.scss */
#alchemy_menubar:after {
  content: '';
  width: 28px;
  height: 28px;
  position: absolute;
  right: 8px;
  top: 8px;
  background: url(/assets/alchemy/icon-819c5975f18a35b039ac3a2a7e46be03.svg) 0 0 no-repeat;
  background-size: 28px 28px;
}
/* line 51, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/menubar.css.scss */
#alchemy_menubar ul {
  padding: 0;
  margin: 0;
  height: auto;
}
/* line 56, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/menubar.css.scss */
#alchemy_menubar ul li {
  width: 32%;
  height: 35px;
  margin: 0 4px 0 0;
  padding: 0;
  float: left;
  list-style-type: none;
  text-align: center;
}
/* line 65, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/menubar.css.scss */
#alchemy_menubar ul li a, #alchemy_menubar ul li button {
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  display: block;
  line-height: 14px;
  font-weight: normal;
  text-decoration: none !important;
  color: #333333 !important;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}
