/*

 */
@font-face {
  font-family: 'Alchemy Icons';
  src: url(//s3.amazonaws.com/tracksmith-images-development/assets/alchemy/icons.eot);
  src: url(//s3.amazonaws.com/tracksmith-images-development/assets/alchemy/icons.eot?#iefix) format("embedded-opentype"), url(//s3.amazonaws.com/tracksmith-images-development/assets/alchemy/icons.woff) format("woff"), url(//s3.amazonaws.com/tracksmith-images-development/assets/alchemy/icons.ttf) format("truetype"), url(//s3.amazonaws.com/tracksmith-images-development/assets/alchemy/icons.svg#Alchemy-Icons) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 31, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-plus,
.icon-minus,
.icon-cross,
.icon-plus-2,
.icon-minus-2,
.icon-pencil,
.icon-tag,
.icon-info,
.icon-warning,
.icon-checkmark,
.icon-ccw,
.icon-trash,
.icon-cross-2,
.icon-pictures,
.icon-menu,
.icon-magnifying-glass,
.icon-fullscreen-exit,
.icon-help,
.icon-fullscreen,
.icon-cog {
  font-family: 'Alchemy Icons';
  speak: none;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  width: 16px;
  color: #666;
  text-align: center;
  line-height: 1em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 48, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-plus:before {
  content: "\e000";
}

/* line 49, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-minus:before {
  content: "\e001";
}

/* line 50, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-cross:before {
  content: "\e004";
}

/* line 51, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-plus-2:before {
  content: "\e005";
}

/* line 52, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-minus-2:before {
  content: "\e006";
}

/* line 53, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-pencil:before {
  content: "\e007";
}

/* line 54, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-tag:before {
  content: "\e034";
}

/* line 55, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-info:before {
  content: "\e008";
}

/* line 56, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-warning:before {
  content: "\e009";
}

/* line 57, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-checkmark:before {
  content: "\e00a";
}

/* line 58, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-ccw:before {
  content: "\e00b";
}

/* line 59, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 60, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-cross-2:before {
  content: "\e00e";
}

/* line 61, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-pictures:before {
  content: "\e00f";
}

/* line 62, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-menu:before {
  content: "\e010";
}

/* line 63, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-magnifying-glass:before {
  content: "\e011";
}

/* line 64, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-fullscreen-exit:before {
  content: "\e01e";
}

/* line 65, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-help:before {
  content: "\e00c";
}

/* line 66, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-fullscreen:before {
  content: "\e01d";
}

/* line 67, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/icon-font.css.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 12, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/print.css.scss */
div#main_menu,
div#top_menu,
div#corner,
div#flash_notices,
div.pagination span,
div.pagination a {
  display: none;
}

/* line 16, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/print.css.scss */
div#archive_all {
  padding: 0;
}

/* line 20, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/print.css.scss */
span.icon.true:before {
  content: 'x';
}

/* line 24, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/print.css.scss */
div.pagination {
  text-align: right;
}

/* line 28, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/print.css.scss */
div.pagination em.current {
  border: none;
  text-shadow: none;
}

/* line 33, /Users/rle/.rvm/gems/ruby-2.0.0-p598@track/bundler/gems/alchemy_cms-b9a7500ac3f9/app/assets/stylesheets/alchemy/print.css.scss */
div.pagination em:before {
  content: 'Page ';
}
