.notification {
  display: inline-block;
  text-align: center;
  height: 20px;
  width: 20px;
  background-color: #29aae2;
  border-radius: 50%;
  color: #fff;
  letter-spacing: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff;
}

input[type=text], input[type=email], input[type=phone], input[type=password], input[type=number], input[type=search], textarea {
  display: block;
  width: 100%;
  padding: 20px 15px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  &.error {
    border: 2px solid $red;
    margin-bottom: 0;
  }
}

select {
  font-size: emCal(20px);
  padding: 20px 15px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  background-color: #ece8e2;
  width: 100%;
  height: 64px;

}

.spree-page input[type=text], .spree-page input[type=email], .spree-page input[type=phone], .spree-page input[type=password],
.spree-page input[type=number], .spree-page input[type=search], .spree-page textarea {
  background-color: #ece8e2;
  font-size: emCal(23px);
}

.spree-page {
  input[type=text], input[type=email], input[type=phone], input[type=password], input[type=number], input[type=search], select {
    height: 45px;
    margin-bottom: 0;
    padding: 0 15px;
  }
  select {
    display: block;
  }
  p.field {
    margin-bottom: 10px;
  }
  option {
    background: $optionbgcolor;
    color: $gold;
    @include AGConLight;
    font-size: emCal(23px);
    line-height: 45px;
    &:hover, &:active {
      color: #fff;
      background: $gold;
    }
  }

  .form-buttons input[type=submit], .edit_address input[type=submit] {
    margin-top: 45px;
    width: 100%;
  }
}

.field {
  color: #222;
}

.field_with_errors {
  display: block;
  border: 2px solid $red;
  input {
    margin-bottom: 0;
  }
}

.errorExplanation {
  margin-bottom: 30px;
  width: 425px;
  margin: 0 auto;
  ul {
    list-style: none;
  }
}

.error-message, .errors {
  color: $red;
  font-size: emCal(20px);
  margin-bottom: 10px;
}

label.error {
  background-color: $red;
  display: block;
  text-align: center;
  color: #fff;
  font-size: emCal(15px);
  padding: 5px 0;
}

.errors {
  color: $red;
  font-size: emCal(23px);
  margin-bottom: 30px;
}

.notice {
  font-size: emCal(23px);
  margin-bottom: 40px;
}