<div id="referral_step_02">
  <div class="processing gold">
    <p><em>Please wait...</em></p>
    <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
  </div>
  <div class="success gold">
    <h3>Thank You</h3>
    <p>Your code for free shipping will arrive soon.</p>

    <p>Interested in the story behind our thought process and inspiration for the women’s collection?</p>

    <a class="btn btn-primary" href="https://instagram.com/tracksmithrunning/" target="_blank">Follow us on Instagram</a>
  </div>
</div>