<section class="page-content referral-page">
  <div class="background_image_module">
    <div class="overlay"></div>
    <div class="bg-image" style="background: url('<%= asset_path('referral/hero_02.jpg') %>') no-repeat center center; background-size: cover; height: 700px; ">
      <div class="module-content center-center white">
        <div class="superheader"></div>
        <div class="module-headline">
          <p>Thank you</p>
        </div>
        <div class="module-text ">
          <p><em>We’ll be in touch soon. </em></p>
          <p><em>In the meantime, <a href="https://instagram.com/tracksmithrunning/" class="white" target="_blank"><u>follow us on Instagram</u></a> to get an inside look at our thought process and design inspiration for the collection and <a href="http://tracksmith.com/spreadtheword" class="white"><u>share with other friends</u></a> you think might be interested.</em></p>
        </div>
      </div>
    </div>
  </div>
  <div class="image_row">
    <div class="table-row">
      <div class="image-row-block">
      </div>
      <div class="image-row-block">
        <img src="http://s3.amazonaws.com/tracksmith-images-development/2015/01/22/00/53/46/807/hare_womens2.png">
      </div>
      <div class="image-row-block">
      </div>
    </div>
  </div>
  <%= render 'acceptance_form' %>
</section
