<%= render_elements %>

  
  <div class="container">
    <h1>Tracksmith Style Guide</h1>
  
  <hr>
  

  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>

  <div class="superheader"> superheader </div>


  <p>Paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum metus semper ligula iaculis lobortis. Aenean eu magna laoreet, placerat tellus ac, feugiat mi. Curabitur id rhoncus est. Suspendisse ornare lacus non ipsum malesuada dapibus. Donec vulputate faucibus eros nec dictum. In porttitor mauris ut nunc varius mattis.</p>

  <p class="sm">Small text</p>

  <p><a href="">Link text</a></p>

  <div class="price">100</div>

  <blockquote>It's never easy.</blockquote>
  <div class="caption">John Sampogna</div>
  
  <hr>

  <h2>Buttons</h2>

  <p>
    <button class="btn-primary">Primary button</button> 
    <button class="btn-secondary">XL</button> 
    <button class="btn">Default button</button> 

  </p>

  <hr>

  <h2>Notifications/Alerts</h2>

  <div class="notification error">
    <p>There was a problem.</p>
  </div>

  <div class="notification success">
    <p>Successs! Something succeeded.</p>
  </div>

  <div class="notification warning">
    <p>Watch out, here's a warning.</p>
  </div>

  <div class="notification info">
    <p>Here's some useful information.</p>
  </div>

  <div class="notification empty">
    <p>This is an empty state. You should probably add something to get started.</p>
  </div>

  <hr>
  
  <h2>Lists</h2>
  <ul>
    <li>Option 1</li>
    <li>Option 2</li>
    <li>Option 3</li>
  </ul>
  <ol>
    <li>Option 1</li>
    <li>Option 2</li>
    <li>Option 3</li>
  </ol>
  <ul class="nolist">
    <li>Option 1</li>
    <li>Option 2</li>
    <li>Option 3</li>
  </ul>
  
  <hr>
  
  <h2>Tables</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Column 1</th>
        <th scope="col">Column 2</th>
        <th scope="col">Column 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
      </tr>
    </tbody>
  </table>
  <hr>
  
  <h2>Forms</h2>
  <form>
    <div class="field">
      <label for="">Text label</label>
      <input type="text">
      <p class="note">Note</p>
    </div>
    <div class="field">
      <label for="">Email</label>
      <input type="email">
    </div>
    <div class="field">
      <label for="">Search</label>
      <input type="search">
    </div>
    <div class="field">
      <label for="">Password <span class="req">(required)</span></label>
      <input type="password">
    </div>
    <div class="field error">
      <label for="">Text label <span class="req">(required)</span></label>
      <input type="text">
      <p class="reason">This field is required</p>
    </div>
    <div class="field">
      <label for="">Textarea</label>
      <textarea></textarea>
    </div>
    <div class="field">
      <label><input type="checkbox"> Option 1</label>
      <label><input type="checkbox"> Option 2</label>
      <label><input type="checkbox"> Option 3</label>
    </div>
    <div class="field">
      <label><input type="radio" name="radio"> Option 1</label>
      <label><input type="radio" name="radio"> Option 2</label>
      <label><input type="radio" name="radio"> Option 3</label>
    </div>
    <button>Submit</button>
  </form>
  
  <hr>
  
  <h2>Responsive Grid</h2>

  <div class="group">
    <div class="span6" style="background:pink;height:50px;margin-bottom:10px;">.span6</div>
    <div class="span6" style="background:pink;height:50px;margin-bottom:10px;">.span6</div>

    <div class="span8" style="background:pink;height:50px;margin-bottom:10px;">.span8</div>
    <div class="span4" style="background:pink;height:50px;margin-bottom:10px;">.span4</div>
    
    <div class="span3" style="background:pink;height:50px;margin-bottom:10px;">.span3</div>
    <div class="span3" style="background:pink;height:50px;margin-bottom:10px;">.span3</div>
    <div class="span3" style="background:pink;height:50px;margin-bottom:10px;">.span3</div>
    <div class="span3" style="background:pink;height:50px;margin-bottom:10px;">.span3</div>
  </div>

  <hr>

  <h2>Images</h2>

  <hr>
  
  <h2>Icons</h2>

  <i class="icon-cog"></i>
  <i class="icon-download-alt icon-3x"></i>
  <i class="icon-github-alt icon-rotate-90"></i>
  <i class="icon-remove-sign icon-5x"></i>
  <i class="icon-apple"></i>
  <i class="icon-android icon-muted"></i>
  <i class="icon-cloud icon-border"></i>
  <i class="icon-comment"></i>
  <i class="icon-star"></i>
  <i class="icon-gamepad"></i>

  <p><a href="http://fortawesome.github.io/Font-Awesome/cheatsheet/">More icons</a></p>

  </div>

  <span class="icons-sprite icons-ws-logo"></span>

