<%= element_editor_for(element) do |el| -%>
  <% element.contents.where(name: ['product_image', 'lifestyle_image', 'copy']).each do |content| %>
    <%= render_essence_editor content %>
  <% end %>
  <p><%= render_new_content_link(element) %></p>
<%- end -%>
