<% if target && target.errors.any? %>

  <div id="errorExplanation" class="errorExplanation" data-hook>
    <p><%= Spree.t(:there_were_problems_with_the_following_fields) %>:</p>
     <ul>
     <% target.errors.full_messages.each do |msg| %>
       <li class="error-message"><%= msg %></li>
     <% end %>
     </ul>
  </div>
<% end %>
